@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-style: normal;
}

html {
    scroll-behavior: smooth;
}

body {
    background-color: rgba(221, 160, 221, 0.157);
}

.full-container {
    width: 100%;
    min-width: fit-content;
    min-height: fit-content;
}

.icons {
    height: 30px;
    width: 30px;
    cursor: pointer;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 35px;
    background-color: white;
    position: fixed;
    width: 100%;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
}

header h2 {
    font-size: 32px;
    font-weight: bold;
}

nav ul {
    display: flex;
    align-items: center;
    gap: 35px;
    list-style-type: none;
}

nav ul li a {
    text-decoration: none;
    font-size: 20px;
}

nav ul li a:hover {
    color: rgb(66, 0, 83);
    text-decoration: underline;
    text-decoration-color: rgb(69, 0, 0);
    text-decoration-thickness: 2px;
}

.head img {
    margin: 5px;
}

.bg-container {
    background-image: url('Images/bg2.avif');
    width: 100%;
    height: 1000px;
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
}

.text {
    padding-top: 300px;
    width: 50%;
    margin: auto;
}

.text h1 {
    font-size: 60px;
    margin-bottom: 60px;
    color: rgb(72, 0, 144);
}

.text p {
    font-size: larger;
}

.text button {
    margin-top: 50px;
    border: 2px solid rgb(185, 0, 185);
    outline: none;
    padding: 9px;
    width: 250px;
    font-size: 20px;
    border-radius: 10px;
    background-color: rgb(189, 0, 189);
    color: white;
    cursor: pointer;
}

.text button:hover {
    background-color: rgb(150, 0, 150);
}

#flowerHeading {
    font-size: 25px;
    font-style: italic;
    color: purple;
    font-weight: bold;
}

.products {
    margin-top: 65px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.products h1 {
    font-weight: bold;
    font-size: 35px;
    margin-bottom: 25px;
}

.flower {
    width: 320px;
    height: 320px;
    border: 8px solid rgba(128, 0, 128, 0.446);
    border-radius: 8px;
    margin: 20px;
}

.flower-shop {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 25px;
}

.addItems {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: white;
    border-radius: 12px;
    padding: 15px;
}

.addItems h2 {
    font-size: 32px;
    font-weight: bold;
    color: #2a0056;
}

.addItems p {
    font-size: 22px;
    font-weight: 600;
}

.wishlist,
.cart {
    width: 100%;
    border-radius: 8px;
    outline: none;
    border: 2px solid purple;
    padding: 4px;
    font-size: 22px;
    font-weight: 600;
    cursor: pointer;
    background-color: #9370db6e;
    margin-top: 12px;
    margin-bottom: 12px;
    transition: all .3s;
}

.wishlistCount {
    position: relative;
    top: -14px;
    font-size: 20px;
}

.wishlist:hover,
.cart:hover {
    background-color: mediumorchid;
    color: white;
}

button a {
    font-size: 22px;
    color: wheat;
    text-decoration: none;
}

.about {
    margin-top: 65px;
    margin-bottom: 75px;
}

.about h2 {
    font-size: 32px;
    text-align: center;
}

.about1 {
    width: 450px;
    height: 300px;
    border-radius: 8px;
}

.aboutUS {
    display: flex;
    align-items: center;
    gap: 45px;
}

.aboutUS p {
    font-size: 20px;
}

.aboutUS p span {
    font-size: 32px;
    font-weight: 600;
    margin-top: 45px;
    margin-bottom: 50px;
}

.aboutUS p:nth-child(odd) {
    margin-left: 32px;
}

.aboutUS:nth-child(even) {
    margin-left: 32px;
}

.aboutUS:nth-child(odd) {
    margin-right: 32px;
}

footer {
    background-color: #ccc;
    display: flex;
    justify-content: space-between;
    padding: 20px;
    margin-top: 50px;
}

.footer-column {
    flex: 1;
    padding-right: 20px;
    border-right: 1px solid #ddd;
}

.footer-column:last-child {
    border-right: none;
}

.social-icons img {
    width: 30px;
    height: 30px;
}

.footer-column ul {
    list-style: none;
    padding: 0;
    margin-top: 15px;
}

.footer-column ul li {
    margin-bottom: 5px;
}

.footer-column ul li a {
    text-decoration: none;
    color: #333;
}

.footer-column ul li a:hover {
    color: purple;
}

/* All Media Queries */
@media only screen and (max-width: 1050px) {
    header h2 {
        margin-right: 20px;
    }

    .head {
        margin-left: 20px;
    }
}

@media only screen and (max-width: 750px) {
    header {
        position: static;
        width: 100%;
    }

    .bg-container {
        min-width: 755px;
        background-size: contain;
    }

    .flower-shop {
        grid-template-columns: repeat(2, 1fr);
        margin-left: 125px;
    }

    .text {
        width: 90%;
        padding-top: 450px;
    }

    .text h1 {
        font-size: 30px;
        margin-bottom: 30px;
    }

    .text p {
        font-size: 16px;
    }
}

@media only screen and (max-width: 1700px) {
    .bg-container {
        background-size: cover;
    }
}

@media only screen and (max-width: 1050px) {
    .text {
        width: 70%;
        padding-top: 400px;
    }

    .text h1 {
        font-size: 40px;
        margin-bottom: 40px;
    }
}

@media only screen and (min-width: 950px) and (max-width: 1200px) {
    .flower-shop {
        margin-left: 150px;
    }
}

@media only screen and (min-width: 750px) and (max-width: 950px) {
    .flower-shop {
        margin-left: 450px;
    }
}


@media only screen and (min-width: 750px) and (max-width: 1200px) {
    .about {
        margin-top: 50px;
        margin-bottom: 60px;
    }

    .about h2 {
        font-size: 28px;
    }

    .about1,
    #about2,
    #about3,
    #about4 {
        width: 350px;
        height: 250px;
    }

    .text {
        padding-top: 200px;
    }

    .text h1 {
        font-size: 45px;
        margin-bottom: 45px;
    }

    .text p {
        font-size: 18px;
    }

    .bg-container {
        height: 800px;
    }
}

.text-enlarge {
    font-size: 20px;
    color: rebeccapurple;
}

.popUp,
.cartPopUp {
    position: fixed;
    top: 130px;
    right: 65px;
    visibility: hidden;
    padding: 20px;
    background-color: white;
    border-radius: 18px;
}

.popUp p,
.cartPopUp p {
    font-size: 22px;
}