@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body {
    margin: 0;
    padding: 0;
    background-color: #808080;
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-style: normal;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.login-form {
    background-color: #ffffff;
    /* white container */
    padding: 30px;
    border-radius: 10px;
    width: 300px;
    text-align: center;
}

.form-group {
    margin-bottom: 20px;
}

.form-group input {
    width: 90%;
    padding: 15px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

input {
    font-size: larger;
}

.login-btn {
    background-color: #007bff;
    /* blue button */
    color: #fff;
    border: none;
    width: 100%;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
}

.login-btn:hover {
    background-color: #0056b3;
    /* darker blue on hover */
}

.forgot-password {
    margin-bottom: 10px;
}

.or-separator {
    margin: 20px 0;
    border-bottom: 1px solid #ccc;
}

.create-account-btn {
    background-color: #4CAF50;
    /* green button */
    color: #fff;
    border: none;
    padding: 15px 20px;
    width: 100%;
    font-size: 20px;
    border-radius: 5px;
    cursor: pointer;
}

.create-account-btn:hover {
    background-color: #45a049;
    /* darker green on hover */
}