* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: cursive;
}

#heading h1 {
    text-align: center;
    margin-top: 20px;
}

.container {
    background: linear-gradient(127deg, rgba(0, 213, 255, 0.8), rgba(0, 255, 0, 0.389));
    margin: auto;
    width: 30%;
    max-width: 50%;
    margin-top: 50px;
    border-radius: 10px;
}

.search-bar {
    padding-top: 15px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding-bottom: 10px;
}

.search-bar input {
    border-radius: 20px;
    padding: 7px;
    border: 0px;
    width: 65%;
    height: 35px;
    margin-left: 30px;
}

.search-bar input[type=text] {
    color: rgb(4, 0, 56);
    padding: 16px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.search-bar button {
    border-radius: 50%;
    width: 42px;
    height: 43px;
    border: 0px;
    margin: 7px;
    margin-right: 35px;
    cursor: pointer;
}

.search-bar button img {
    width: 16px;
    opacity: 0.8;
    color: black;
}

#weather-details {
    color: rgb(33, 0, 98);
}

#weather-details img {
    margin: auto;
    width: 50%;
    display: block;
}

#text-details {
    text-align: center;

}

#weather-properties {
    margin: 35px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    padding-bottom: 20px;
    flex-wrap: wrap;
}

#weather-properties img {
    width: 45px;
    height: 50px;
    padding: 2px;
    margin: -2px;
    filter: brightness(0.1) saturate(0%);
}

.property {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    flex-wrap: wrap;
}

.property p {
    margin: 0 10px;
    color: rgb(69, 0, 134);
    font-size: 16px;
    font-weight: 400;
}

#weather-details,
#weather-properties {
    display: none;
}

#error-message {
    font-weight: 900;
    margin-right: 20px;
    margin-left: 36px;
    padding-bottom: 10px;
    margin-top: -13px;
    color: rgba(255, 0, 0, 0.833);
    display: none;
}

/* Media Queries */
@media screen and (max-width:1165px) {
    #weather-properties {
        flex-wrap: nowrap;
        margin: 30px;
    }
}
@media screen and (max-width:1007px) {
    #weather-properties p{
        font-size: 14px;
    }
}
@media screen and (max-width:1100px) {
    .container{
        width: 100%;
    }
}
@media screen and (max-width:270px) {
    .container{
        overflow: hidden;
        margin: 0px;
    }
}