/* Water filling animation */
#water {
    background: linear-gradient(350deg, rgb(223, 19, 121), rgb(0, 30, 141));
    animation: water-fill 2s infinite forwards alternate;
}

@keyframes water-fill {
    from {
        height: 0;
    }

    to {
        height: 100%;
    }
}


/* Circular progress bar */
circle {
    fill: none;
    stroke: url('#GradientColor');
    stroke-width: 20px;
    stroke-dasharray: 520;
    stroke-dashoffset: 520;
}

svg {
    position: relative;
    top: -176px;
}

#progressContainer,
#water {
    animation-duration: 1.5s;
    animation-timing-function: ease-in-out;
}

.progress-heading,
.water-heading {
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
}

#waterContainer {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    position: relative;
    overflow: hidden;
}

#waterText {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 1.2rem;
    font-weight: bold;
}

#water {
    animation: water-fill 2s infinite forwards alternate;
}

@keyframes water-fill {
    from {
        height: 0;
    }

    to {
        height: 100%;
    }
}