/* Horizontal scroll bar animation */
.animate-scroll {
    animation: scroll 2s infinite linear forwards alternate;
}

@keyframes scroll {
    from {
        transform: translateX(-100%);
    }

    to {
        transform: translateX(0);
    }
}