html {
    scroll-behavior: smooth;
}

* {
    margin: 0;
    padding: 0;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
}

header {
    background-color: #f7f7f7;
    padding: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo p {
    font-size: 24px;
    font-weight: 700;
    margin-right: 10px;
    color: #333;
}

.logo img {
    width: 50px;
    height: auto;
}

.user p {
    margin-right: 10px;
    cursor: pointer;
}

input.input-field {
    padding: 12px 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    width: 200px;
}

.gray-button {
    background-color: #ccc;
    color: #333;
    border: none;
    padding: 14px 20px;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
}

nav.unique-nav {
    background-color: #232f3e;
    padding: 10px 20px;
    border-top: 2px solid white;
}

.unique-nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.unique-nav ul li {
    display: inline;
    margin-right: 20px;
}

.unique-nav ul li a {
    color: #fff;
    text-decoration: none;
    font-size: 18px;
}

.unique-container {
    background-color: #fdffcf;
    margin: 50px;
    border-radius: 12px;
    padding: 20px;
}

.heading {
    font-size: 32px;
    font-weight: bold;
    margin-bottom: 20px;
}

.deselect {
    color: navy;
    margin-bottom: 10px;
}

.line {
    border: 1px solid #ccc;
    margin: 10px 0;
}

.checklist input,
.checklist label {
    margin-bottom: 10px;
    font-size: 18px;
}

.item-details {
    background: white;
    border-radius: 12px;
    margin: 50px 0;
    padding: 20px;
    text-align: center;
    position: relative;
}

.item-details img {
    width: 200px;
    height: auto;
    border-radius: 10px;
}

.item-details h2 {
    font-size: 24px;
    margin-top: 10px;
}

.item-details p {
    margin: 5px 0;
}

.options {
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
}

.options button {
    background-color: #fdffcf;
    color: rebeccapurple;
    border: none;
    padding: 20px 20px;
    font-size: 20px;
    border-radius: 5px;
    cursor: pointer;
    width: 300px;
    font-weight: 600;
}

.quantity {
    background-color: #fdffcf;
    color: rebeccapurple;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 5px;
    position: absolute;
    top: -20px;
    right: 20px;
}

.recent {
    background-color: #d3d3d3;
    border-radius: 20px;
    padding: 20px;
    position: absolute;
    top: 250px;
    right: 69px;
}

.recent h2 {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 20px;
}

.item {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.item img {
    width: 100px;
    height: auto;
    border-radius: 10px;
    margin-right: 20px;
}

.item-details-2 p {
    margin: 5px 0;
    color: black;
}

.add-to-cart {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
}

.add-to-cart:hover {
    background-color: #0056b3;
}

footer {
    margin-top: 50px;
}

.unique-container p {
    font-size: 22px;
}