html {
    scroll-behavior: smooth;
}

* {
    margin: 0;
    padding: 0;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.custom-navbar {
    background-color: #6c757d;
    /* Subtle gray */
    color: #ffffff;
    /* White */
    padding: 20px 0;
    position: sticky;
    top: 0;
}

.navbar-container {
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin: 0 auto;
}

.logo img {
    width: 80px;
    border-radius: 50%;
}

.navbar-menu ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.navbar-menu ul li {
    display: inline-block;
    margin-right: 20px;
}

.navbar-menu ul li a {
    font-size: 20px;
    padding: 20px;
    font-weight: 600;
    color: #fff;
    /* Dark gray */
}

.menu-item {
    text-decoration: none;
    color: #ffffff;
    /* White */
    font-size: 16px;
}

.btn-sign-in {
    background-color: #007bff;
    /* Blue */
    color: #ffffff;
    /* White */
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    text-decoration: none;
    font-size: 16px;
}

.btn-sign-in:hover {
    background-color: #0056b3;
    /* Darker blue */
}