@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
    padding: 0;
}

.container {
    display: flex;
    height: 100vh;
}

.sidebar {
    width: 250px;
    background-color: #f0f2f5;
    border-right: 1px solid #ccc;
    padding: 20px;
}

.sidebar h2 {
    font-size: 40px;
    font-weight: 600;
}

.chat-section {
    flex: 1;
    padding: 20px;
    overflow-y: auto;
}

.chat-bubble {
    max-width: 70%;
    margin-bottom: 20px;
    padding: 10px 15px;
    border-radius: 20px;
}

.incoming {
    background-color: #e4e6eb;
    align-self: flex-start;
    width: 450px;
}

.outgoing {
    background-color: #0084ff;
    color: #fff;
    align-self: flex-end;
    position: relative;
    left: 550px;
    width: 450px;
}

.message-input {
    width: 1000px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 20px;
}

.send-button {
    width: 40px;
    height: 40px;
    background-color: #0084ff;
    color: #fff;
    border: none;
    border-radius: 50%;
    margin-left: 10px;
    cursor: pointer;
}

.img {
    width: 250px;
    height: 175px;
}

ul li {
    list-style: none;
}

.img-contact {
    width: 45px;
    height: 45px;
}

ul li {
    margin-bottom: 30px;
    margin-top: 20px;
}

ul li {
    display: flex;
    font-weight: 600;
    font-size: 18px;
    gap: 20px;
    align-items: center;
}

.navbar {
    background-color: rgba(128, 128, 128, 0.399);
    color: white;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    z-index: 1000;
}

.nav-links {
    list-style: none;
    display: flex;
    margin-right: 220px;
}

.nav-links li {
    margin-right: 20px;
    padding: 15px;
}

.nav-links li:last-child {
    margin-right: 0;
}

.nav-links a {
    text-decoration: none;
    color: white;
    font-size: 22px;
}

.column-heading {
    margin-top: 130px;
}

.nav-img-link {
    width: 45px;
    height: 45px;
}