* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body{
    background-color: aliceblue;
}

#gallery-wrap {
    display: flex;
    margin: auto;
    width: fit-content;
    margin-top: 30px;
}

#gallery {
    display: flex;
    width: 1000px;
    overflow-x: scroll;
}

#gallery div {
    display: grid;
    grid-template-columns: auto auto auto;
    grid-gap: 8px;
    padding: 20px;
    width: 100%;
    flex: none;
}

#gallery img {
    width: 100%;
    filter: grayscale(.7);
    cursor: pointer;
}

.buttons {
    width: 70px;
    height: 70px;
    padding: 10px;
    cursor: pointer;
    margin-top: 200px;
}

h1{
    text-align: center;
    font-family: cursive;
    color: rgb(0, 0, 0);
    font-weight: bolder;
    margin-top: 25px;
}

#gallery img:hover{
    transform: scale(1.1);
    filter: grayscale(0);
    transition: .5s;
}

#gallery::-webkit-scrollbar {
    display: none;
}

.newImage{
    height: 376.84px;
    width: 314.67px;
}