* {
    margin: 0;
    padding: 0;
    font-family: Poppins;
}

.bizarre-media-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 50px;
    margin: 80px;
}

.column img {
    width: 100%;
    margin-top: 20px;
    height: auto;
    border-radius: 20px;
}

.container {
    flex-direction: row;
}

.title-vid-home {
    font-size: 22px;
    font-weight: bold;
    text-align: center;
}

.column-container {
    position: relative;
    top: -75px;
}