@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto Slab', serif;
}

.container {
    width: 100%;
    height: 100vh;
    background-color: rgba(202, 255, 237, 0.547);
    display: flex;
    align-items: center;
    justify-content: center;
}

.outer {
    box-shadow: 0px 0px 5px #208293, 2px 3px 5px #3b0031;
    width: 160px;
    height: 160px;
    border-radius: 50%;
    padding: 18px;
}

.inner {
    width: 120px;
    height: 120px;
    border-radius: 50%;
    box-shadow: inset 3px 3px 4px #868bc7, inset 0px 1px 0px #3e3e95;
    display: flex;
    align-items: center;
    justify-content: center;
}

#number {
    font-size: 20px;
    font-weight: 900;
}

circle {
    /* circle inner color is none */
    fill: none;
    /* add linear gradient to circle using 'stroke' */
    stroke: url('#GradientColor');
    /* add width of stroke ie increase width of circle by 20px */
    stroke-width: 20px;
    /* cover portions of circle by linear gradient using stroke-dasharray */
    stroke-dasharray: 472;
    /* to remove some portions of circle using stroke-dashoffset */
    stroke-dashoffset: 472;
    animation: anim 2s linear forwards;
}

svg {
    position: absolute;
    bottom: 229px;
    right: 603px;
}

@keyframes anim {
    100% {
        stroke-dashoffset: 154;
    }
}

