html {
    scroll-behavior: smooth;
}

* {
    margin: 0;
    padding: 0;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.footer {
    background-color: #1d1d1d;
    color: #ffffff;
    padding: 50px 0;
    margin-top: 120px;
}

.container {
    width: 80%;
    margin: 0 auto;
}

.footer-content {
    display: flex;
    justify-content: space-between;
}

.footer-section {
    flex: 1;
}

.footer-section h3 {
    font-size: 22px;
    font-weight: 600;
    margin-bottom: 20px;
}

.footer-section ul {
    list-style: none;
    padding: 0;
}

.footer-section ul li {
    margin-bottom: 10px;
}

.footer-section ul li a {
    color: #ffffff;
    text-decoration: none;
    font-size: 18px;
}

.footer-section ul li a:hover {
    color: #ff0000;
}

.contact-us-sec {
    margin-top: 120px;
    display: flex;
    flex-direction: column;
    gap: 40px;
    align-items: center;
    justify-content: center;
    background-color: #800029;
    color: white;
    padding: 40px;
}

.contact-us-sec h1 {
    font-size: 80px;
    font-weight: bold;
    color: white;
}

.contact-us-sec p {
    font-size: 25px;
    color: white;
}

.btn {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 45px;
}

.btn button {
    outline: none;
    color: white;
    background-color: transparent;
    border-radius: 18px;
    padding: 15px 90px;
    font-size: 20px;
    border: 3px solid white;
}

.explore-bus {
    background: url('../Images/telep.avif');
    padding: 65px;
    border-radius: 18px;
    margin: 95px;
    background-position: center;
    background-size: cover;
}

.explore-bus h1,
.explore-bus-2 h1 {
    color: white;
    font-size: 45px;
    font-weight: bold;
}

.explore-bus p,
.explore-bus-2 p {
    color: white;
    font-size: 26px;
    margin-top: 25px;
    font-weight: 600;
}

.explore-bus button,
.explore-bus-2 button {
    padding: 12px 70px;
    color: white;
    margin-top: 65px;
    background-color: navy;
    outline: none;
    border: 0;
    border-radius: 12px;
    font-size: 20px;
    font-weight: 600;
    margin-right: 55px;
    letter-spacing: 1.4px;
}

.explore-bus-2 {
    background: url('../Images/bg-1.jpg');
    background-position: center;
    background-size: cover;
    padding: 65px;
}